body {
    .improving {
        position: absolute;
        background-color: #666;
        padding: 4vmin;
        font-size: 4vmin;
        font-weight: bold;
        height: 80vmin;
        width: 80vmin;
        color: #333;
        display: flex;
        flex-direction: column;
        z-index: 1;
        bottom: -80vmin;
        .element {
            display: flex;
            align-items: center;
            gap: 2vmin;
            cursor: pointer;
            height: 25%;
            direction: rtl;
            padding-right: 4vmin;
            img {
                width: 10vmin;
            }
            &:hover {
                background-color: #555;
            }
        }
    }
}