.improving
    .element
        img(src="./imgs/white-queen.png")
        .name وزير
    .element
        img(src="./imgs/white-rook.png")
        .name قلعة
    .element
        img(src="./imgs/white-knight.png")
        .name حصان
    .element
        img(src="./imgs/white-bishop.png")
        .name فيل